
/* Responsive */
/* Desktop */
@media (min-width: 992px) {
   .navbar{
       background: none !important;
   }
    .navbar-brand{
       font-size: 35px !important;
   }
    .nav-link{
        font-size: 16px !important;
        margin: 0 10px !important;
    }
    .nav-link:hover{
        color: #EADBCD !important;
    }
    .latar img{
        height: 100% !important;
    }
    .latar1{
        margin-top: -50vh !important;
        margin-left: 30vh !important;
    }
    .konten1{
        margin-top: -50px !important;
    }
    .konten1 img{
        width: 35vh !important;
    }
    .konten h1{
        font-size: 5rem !important;
    }
    .konten h1:last-child{
        margin-left: 50px !important;
    }
    .garis{
        margin-top: -45vh !important;
        margin-left: 2vh !important;
        width: 30vh !important;
        height: 45vh !important;
        border: 8px solid #ffff !important;
    }
    .tentang{
        display: block !important;
    }
    .tentang1{
        margin-top: -55vh !important;
        margin-left: -10vw !important;
    }
    .abot p{
        width: 70vh !important;
        font-size: 16px !important;
    }
    .abot p:nth-child(2){
        padding-top: 10px !important;
    }
    .abot h3{
        font-size: 4rem !important;
    }
    .abot1{
        display: block !important;
        margin-top: -5vh !important;
    }
    .abot1 img{
        width: 25vh !important;
    }
    .abot1 img:first-child{
        margin-top: 20vh !important;
        position: relative;
        z-index: 1;
    }
    .abot1 img:last-child{
        width: 30vh !important;
        margin-left: -5vh !important;
    }
    .fitur{
        margin-top: 30vh;
        margin-left: -10vw;
    }
    .fitu img, .fitu1 img, .fitu2 img, .fitu4 img{
        width: 8vw;
        margin-left: 1vh;
    }
    .fitu3 img, .fitu5 img{
        margin-left: 2vh;
    }
    .bawah1{
        margin-top: -30vh;
    }
    .bawa h3{
        font-size: 3rem;
    }
    .bawa p{
        margin-top: -5px;
        font-size: 16px;
        font-weight: 400;
    }
    .bwh img, .bwh1 img, .bwh2 img{
        width: 5vw;
    }
    
 }

/* Handphone */
@media (max-width: 576px) {
    .navbar{
        background: white;
    }
    .nav-link{
        font-size: 14px;
        margin: unset;
    }
    .navbar-brand{
        font-size: 30px;
    }
    .latar img{
        height: 300px;
    }
    .konten1{
        display: none;
    }
    .konten h1{
        font-size: 50px;
    }
    .konten h1:last-child{
        margin-left: 30px;
    }
    .latar1{
        margin-top: -20vh;
        margin-left: 10px;
    }
    .garis{
        margin-top: -20vh;
        width: 100px;
        height: 150px;
        border: 5px solid #ffff;
    }
    .tentang{
        display: none;
    }
    .tentang1{
        margin-top: 15vh;
        margin-left: unset;
    }
    .abot h3{
        font-size: 3rem;
        text-align: center;
    }
    .abot p{
        width: 90vw;
        font-size: 14px;
        text-align: center;
    }
    .abot p:nth-child(2){
        padding-top: 10px;
    }
    .abot1{
        display: none;
    } 
    .col-sm{
        padding-top: 20px;
    }
    .item1 p, .item4 p{
        width: 70%;
    }
    .fitur{
        margin-top: 15vh;
    }
    .fitu1{
        padding-left: 20px;
    }
    .fitu4{
        padding-left: 20px;
    }
    .fitu img, .fitu1 img, .fitu2 img, .fitu3 img, .fitu4 img, .fitu5 img{
        width: 25vw;
    }
    .fitu p, .fitu1 p, .fitu2 p, .fitu3 p, .fitu4 p, .fitu5 p{
        font-size: 14px;
    }
    .fitu img, .fitu2 img{
        margin-left: 2vh;
    }
    .fitu3 img, .fitu4 img, .fitu5 img{
        margin-left: 1vh;
    }
    .fitu1 img{
        margin-left: 1vh;
    }
    .bawah{
        display: none;
    }
    .bawah1{
        background-color: #E7D2BF;
        width: 100vw;
        margin-top: 10vh;
        margin-left: -10px;
    }
    .bawa{
        padding-top: 20px;
    }
    .bawa h3{
        font-size: 1.5rem;
    }
    .bawa p{
        margin-top: -5px;
        font-size: 14px;
        font-weight: 400;
    }
    .bwh img, .bwh1 img, .bwh2 img{
        width: 12vw;
    }
    .bwh1 img, .bwh2 img{
        margin-left: -20px;
    }
    .bwh3 img, .bwh4 img{
        width: 6vw;
    }
    .bwh4 img{
        margin-left: -10px;
    }
}
