/* Responsive */
/* Desktop */
@media (min-width: 992px) {
   .navbar{
       background: none !important;
   }
    .navbar-brand{
       font-size: 35px !important;
   }
    .nav-link{
        font-size: 16px !important;
        margin: 0 10px !important;
    }
    .nav-link:hover{
        color: #EADBCD !important;
    }
    .latar img{
        height: 100% !important;
    }
    .latar1{
        margin-top: -50vh !important;
        margin-left: 30vh !important;
    }
    .konten1{
        margin-top: -50px !important;
    }
    .konten1 img{
        width: 35vh !important;
    }
    .konten h1{
        font-size: 5rem !important;
    }
    .konten h1:last-child{
        margin-left: 50px !important;
    }
    .garis{
        margin-top: -45vh !important;
        margin-left: 2vh !important;
        width: 30vh !important;
        height: 45vh !important;
        border: 8px solid #ffff !important;
    }
    .tentang{
        display: block !important;
    }
    .tentang1{
        margin-top: -55vh !important;
        margin-left: -10vw !important;
    }
    .abot p{
        width: 70vh !important;
        font-size: 16px !important;
    }
    .abot p:nth-child(2){
        padding-top: 10px !important;
    }
    .abot h3{
        font-size: 4rem !important;
    }
    .abot1{
        display: block !important;
        margin-top: -5vh !important;
    }
    .abot1 img{
        width: 25vh !important;
    }
    .abot1 img:first-child{
        margin-top: 20vh !important;
        position: relative;
        z-index: 1;
    }
    .abot1 img:last-child{
        width: 30vh !important;
        margin-left: -5vh !important;
    }
    .fitur{
        margin-top: 20vh !important;
    }
 }

/* Handphone */
@media (max-width: 576px) {
    .navbar{
        background: white;
    }
    .nav-link{
        font-size: 14px;
        margin: unset;
    }
    .navbar-brand{
        font-size: 30px;
    }
    .latar img{
        height: 300px;
    }
    .konten1{
        margin-top: -30px;
    }
    .konten1 img{
        width: 15vh;
    }
    .konten h1{
        font-size: 30px;
    }
    .konten h1:last-child{
        margin-left: 30px;
    }
    .latar1{
        margin-top: -20vh;
        margin-left: 10px;
    }
    .garis{
        margin-top: -20vh;
        width: 100px;
        height: 150px;
        border: 5px solid #ffff;
    }
    .tentang{
        display: none;
    }
    .tentang1{
            margin-top: 15vh;
            margin-left: unset;
    }
    .abot h3{
        font-size: 3rem;
    }
    .abot p{
        width: 90vw;
        font-size: 14px;
    }
    .abot p:nth-child(2){
        padding-top: 10px;
    }
    .abot1{
        display: none;
    }
 
}
