/* Responsive */
/* Large Desktop */
@media only screen and (max-width: 1440px){
    .navbar-brand{
        font-size: 1.8rem;
        margin-left: 5%;
    }
    .navbar-nav{
        margin-left: 55%;
    }
    .nav-link{
        font-size: .9rem;
        margin-left: 15px;
    }
    .latar{
        margin-top: 15%;
    }
    .latars{
        margin: 0 auto;
        padding: 10px 0;
    }
    .latar1, .latar2{
        margin:auto auto;
    }
    .latar2{
        margin-top: 10%;
    }
    .latar1 img{
        width: 35%;
    }
    .latar1 img:nth-child(2){
        float: right;
        margin-top: 20%;
        margin-right: 30%;
    }
    .latar1 img:nth-child(3){
        margin-left: 10%;
        margin-top: -20%;
    }
    .latar2 h5{
        font-size: 1.8rem;
    }
    .latar2 h3{
        font-size: 3rem;
    }
    .latar2 p{
        font-size: .9rem;
        width: 80%;
    }
    .latar2 button{
        font-size: .9rem;
        padding: 6px 8px;
    }
    .quotes{
        margin-top: 20%;
    }
    .quotes img{
        width: 100%;
        height: 50vh;
    }
    .quotes-content{
        margin-top: -18%;
    }
    .quotes-content p{
        font-size: 1.8rem;
        width: 50%;
        margin: auto auto;
        color: #fafafa;
        padding: 10px 0;
    }
    .package{
        margin-top: 20%;
        text-align: center;
    }
    .package h3{
        font-size: 7rem;
    }
    .package h5{
        margin-top: -5%;
        font-size: 1.5rem;
    }
    .wedpack, .wedpack1{
        margin-top: 10%;
    }
    .wedpack-content img{
        width: 35%;
        margin-left: -40%;
    }
    .wedpack1-content img{
        width: 40%;
        margin-left: 30%;
    }
    .wedpack-content1{
        padding-top: unset;
        text-align: left;
        margin-left: -22%;
    }
    .wedpack1-content1{
        padding-top: unset;
        margin-right: -30%;
        text-align: left;
    }
    .wedpack-content1 h4, .wedpack1-content1 h4{
        font-size: 1.2rem;
    }
    .wedpack-content1 p, .wedpack1-content1 p{
        font-size: .9rem;
        width: 70%;
    }
    .bawah img:last-child{
        margin-top: -30px;
    }
    .bawah1{
        /* background-color: y; */
        margin: -30% auto;
        width: 50%;
    }
    .bawah1 h3{
        font-size: 3rem;
        text-align: center;
    }
    .image1-peo{
        justify-content: center;
    }
    .image-peo img{
        width: 5vw;
        margin-left: -20px;
    }
    .social{
        justify-content: center;
    }
    .social img{
        margin-left: -10px;
    }
    .links{
        width: 70%;
        margin: 5% auto;
        justify-content: center;
    }
    .links a{
        font-size: 1rem;
    }
}

/*  Desktop */
@media only screen and (max-width: 1024px){
    .navbar-brand{
        font-size: 1.5rem;
        margin-left: 5%;
    }
    .navbar-nav{
        margin-left: 45%;
    }
    .nav-link{
        font-size: .9rem;
        margin-left: 15px;
    }
    .latar{
        margin-top: 20%;
    }
    .latars{
        margin: 0 auto;
        padding: 10px 0;
    }
    .latar1, .latar2{
        margin:auto auto;
    }
    .latar2{
        margin-top: 10%;
    }
    .latar1 img{
        width: 45%;
    }
    .latar1 img:nth-child(2){
        float: right;
        margin-top: -30%;
        margin-right: 15%;
    }
    .latar1 img:nth-child(3){
        margin-left: 10%;
        margin-top: -30%;
    }
    .latar2 h5{
        font-size: 1.8rem;
    }
    .latar2 h3{
        font-size: 2.5rem;
    }
    .latar2 p{
        font-size: .9rem;
        width: 80%;
    }
    .latar2 button{
        font-size: .9rem;
        padding: 6px 6px;
    }
    .quotes{
        margin-top: 30%;
    }
    .quotes img{
        width: 100%;
        height: 40vh;
    }
    .quotes-content{
        margin-top: -18%;
    }
    .quotes-content p{
        font-size: 1.5rem;
        width: 60%;
        margin: auto auto;
        color: #fafafa;
        padding: 10px 0;
    }
    .package{
        margin-top: 20%;
        text-align: center;
    }
    .package h3{
        font-size: 5.5rem;
    }
    .package h5{
        margin-top: -6%;
        font-size: 1.5rem;
    }
    .wedpack, .wedpack1{
        margin-top: 10%;
    }
    .wedpack-content img{
        width: 40%;
        margin-left: -30%;
    }
    .wedpack1-content img{
        width: 40%;
        margin-left: 30%;
    }
    .wedpack-content1{
        padding-top: unset;
        text-align: left;
        margin-left: -16%;
    }
    .wedpack1-content1{
        padding-top: unset;
        margin-right: -15%;
        text-align: left;
    }
    .wedpack-content1 h4, .wedpack1-content1 h4{
        font-size: 1.2rem;
    }
    .wedpack-content1 p, .wedpack1-content1 p{
        font-size: .9rem;
        width: 100%;
    }
    .bawah img:last-child{
        margin-top: -30px;
    }
    .bawah1{
        margin: -30% auto;
        width: 50%;
    }
    .bawah1 h3{
        font-size: 3rem;
        text-align: center;
    }
    .image1-peo{
        justify-content: center;
    }
    .image-peo img{
        width: 5vw;
        margin-left: -20px;
    }
    .social{
        justify-content: center;
    }
    .social img{
        margin-left: -10px;
    }
    .links{
        width: 100%;
        margin-top: 4vh;
        justify-content: center;
    }
    .links a{
        font-size: 1rem;
    }
}

/*  Tablet */
@media only screen and (max-width: 768px){
    .navbar-brand{
        font-size: 1.5rem;
        margin-left: unset;
    }
    .navbar-nav{
        margin-left: unset;
    }
    .nav-link{
        font-size: .9rem;
        margin-left: unset;
    }
    .latar{
        margin-top: 20%;
    }
    .latars{
        margin: 0 auto;
        padding: 10px 0;
    }
    .latar1, .latar2{
        margin:auto auto;
    }
    .latar2{
        margin-top: 10%;
    }
    .latar1 img{
        width: 50%;
    }
    .latar1 img:nth-child(2){
        float: right;
        margin-top: -30%;
        margin-right: 8%;
    }
    .latar1 img:nth-child(3){
        margin-left: 10%;
        margin-top: -35%;
    }
    .latar2 h5{
        font-size: 1.3rem;
    }
    .latar2 h3{
        font-size: 2rem;
    }
    .latar2 p{
        font-size: .9rem;
    }
    .latar2 button{
        font-size: .9rem;
        padding: 5px 5px;
    }
    .quotes{
        margin-top: 30%;
    }
    .quotes img{
        width: 100%;
        height: 40vh;
    }
    .quotes-content{
        margin-top: -25%;
    }
    .quotes-content p{
        font-size: 1.2rem;
        width: 70%;
        margin: auto auto;
        color: #fafafa;
        padding: 10px 0;
    }
    .package{
        margin-top: 30%;
        text-align: center;
    }
    .package h3{
        font-size: 4.5rem;
    }
    .package h5{
        margin-top: -7%;
        font-size: 1.2rem;
    }
    .wedpack, .wedpack1{
        margin-top: 20%;
    }
    
    .wedpack-content img{
        width: 50%;
        margin-left: -30%;
    }
    .wedpack1-content img{
        width: 40%;
        margin-left: 30%;
    }
    .wedpack-content1{
        padding-top: unset;
        text-align: left;
        margin-left: -10%;
    }
    .wedpack1-content1{
        padding-top: unset;
        margin-right: -15%;
        text-align: left;
    }
    .wedpack-content1 h4, .wedpack1-content1 h4{
        font-size: 1.2rem;
    }
    .wedpack-content1 p, .wedpack1-content1 p{
        font-size: .9rem;
        width: 100%;
    }
    .bawah img:last-child{
        margin-top: -30px;
    }
    .bawah1{
        margin: -35% auto;
        width: 60%;
    }
    .bawah1 h3{
        font-size: 2.5rem;
        text-align: center;
    }
    .image1-peo{
        justify-content: center;
    }
    .image-peo img{
        width: 5vw;
        margin-left: -20px;
    }
    .social{
        justify-content: center;
    }
    .social img{
        margin-left: -10px;
    }
    .links{
        width: 100%;
        margin-top: 4vh;
        justify-content: center;
    }
    .links a{
        font-size: .9rem;
    }
    
    
}

/* Handphone*/
@media only screen and (max-width: 575px){
    .navbar-brand{
        font-size: 1.5rem;
        margin-left: 10px;
    }
    .navbar-nav{
        margin-left: unset;
    }
    .nav-link{
        font-size: .9rem;
        margin-left: unset;
    }
    .latar{
        margin-top: 24%;
    }
    .latars{
        margin: 0 auto;
        padding: 10px 0;
    }
    .latar1, .latar2{
        margin: auto auto;
    }
    .latar2{
        margin-top: 15%;
    }
    .latar1 img{
        width: 50%;
    }
    .latar1 img:nth-child(2){
        float: right;
        margin-top: -30%;
        margin-left: -5%;
    }
    .latar1 img:nth-child(3){
        margin-left: 10%;
        margin-top: -35%;
    }
    .latar2 h5{
        font-size: 1.3rem;
    }
    .latar2 h3{
        font-size: 2rem;
    }
    .latar2 p{
        font-size: .9rem;
        width: 100%;
    }
    .latar2 button{
        font-size: .9rem;
        padding: 5px 5px;
    }
    .quotes{
        margin-top: 30%;
    }
    .quotes img{
        width: 100%;
        height: 40vh;
    }
    .quotes-content{
        margin-top: -45%;
    }
    .quotes-content p{
        font-size: 1.2rem;
        color: #fafafa;
        width: 100%;
        margin: auto auto;
        padding: 10px 0;
    }
    .package{
        margin-top: 30%;
    }
    .package h3{
        font-size: 3.5rem;
    }
    .package h5{
        margin-top: -10%;
        font-size: 1.2rem;
    }
    .wedpack, .wedpack1{
        margin-top: 20%;
    }
    .wedpack-content img, .wedpack1-content img{
        width: 50%;
        margin-left: unset;
    }
    .wedpack-content1, .wedpack1-content1{
        padding-top: 20px;
        text-align: center;
        margin-left: unset;
        margin-right: unset;
    }
    .wedpack-content1 h4{
        font-size: 1.2rem;
    }
    .wedpack-content1 p{
        font-size: .9rem;
        width: 100%;
    }
    .bawah img{
        display: none;
    }
    .bawah1{
        background-color:#EADBCD;
        width: 100vw;
        margin-top: -5vh;
        padding: 10px 0px;
    }
    .bawah1 h3{
        font-size: 2rem;
        text-align: left;
    }
    .image1-peo{
        justify-content: left;
        padding: 0 20px;
    }
    .image-peo img{
        width: 12vw;
        margin-left: -20px;
    }
    .social{
        justify-content: left;
        padding: 0 20px;
    }
    .social img{
        margin-left: -15px;
    }
    .links{
        width: 100%;
        margin: 10px -10px;
        justify-content: left;
    }
    .links a{
        font-size: 14px;
    }

    
    

    
}

